In [1]:
import pandas as pd
from util import downcast

In [2]:
data = pd.read_csv('data/output/20250908_modeling_data.csv')
data = downcast(data)

data.info()

메모리 사용량: 932.72 MB -> 255.39 MB
감소율: 72.6%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2910795 entries, 0 to 2910794
Data columns (total 42 columns):
 #   Column                      Dtype
---  ------                      -----
 0   월ID                         int8
 1   상점ID                        int8
 2   상품ID                        int16
 3   월별 판매량                      int8
 4   상품분류ID                      int8
 5   채널                          category
 6   도시                          category
 7   쇼핑몰 종류                      category
 8   상품대분류                       category
 9   상품소분류                       category
 10  상품_경과개월                     int8
 11  상품_신상여부                     int8
 12  상품_상점_경과개월                  int8
 13  상품_상점_신상여부                  int8
 14  연                           int16
 15  월                           int8
 16  분기                          int8
 17  월날짜                         category
 18  월별_판매량_lag1                 int8
 19  월별_판매량_lag2                 int8
 20  월별_판매량_lag3                 int8
 21  월별_판매량_mean3                float32
 22  월별_판매량_diff_lag1_2          int8
 23  월별_판매량_diff_lag2_3          int8
 24  월별_판매건수_lag1                int8
 25  월별_판매건수_lag2                int8
 26  월별_판매건수_lag3                int8
 27  월별_평균_판매가_lag1              float32
 28  월별_평균_판매가_lag2              float32
 29  월별_평균_판매가_lag3              float32
 30  상품ID_월별_평균_판매량_lag1         float32
 31  상품ID_월별_평균_판매량_lag2         float32
 32  상품ID_월별_평균_판매량_lag3         float32
 33  상품ID_도시_월별_평균_판매량_lag1      float32
 34  상품ID_도시_월별_평균_판매량_lag2      float32
 35  상품ID_도시_월별_평균_판매량_lag3      float32
 36  상품ID_상품분류ID_월별_평균_판매량_lag1  float32
 37  상품ID_상품분류ID_월별_평균_판매량_lag2  float32
 38  상품ID_상품분류ID_월별_평균_판매량_lag3  float32
 39  상품ID_쇼핑몰_종류_월별_평균_판매량_lag1  float32
 40  상품ID_쇼핑몰_종류_월별_평균_판매량_lag2  float32
 41  상품ID_쇼핑몰_종류_월별_평균_판매량_lag3  float32
dtypes: category(6), float32(16), int16(2), int8(18)
memory usage: 255.4 MB

In [3]:
data.head()

,월ID,상점ID,상품ID,월별 판매량,상품분류ID,채널,도시,쇼핑몰 종류,상품대분류,상품소분류,...,상품ID_월별_평균_판매량_lag3,상품ID_도시_월별_평균_판매량_lag1,상품ID_도시_월별_평균_판매량_lag2,상품ID_도시_월별_평균_판매량_lag3,상품ID_상품분류ID_월별_평균_판매량_lag1,상품ID_상품분류ID_월별_평균_판매량_lag2,상품ID_상품분류ID_월별_평균_판매량_lag3,상품ID_쇼핑몰_종류_월별_평균_판매량_lag1,상품ID_쇼핑몰_종류_월별_평균_판매량_lag2,상품ID_쇼핑몰_종류_월별_평균_판매량_lag3
0,11,3,27,1,19,offline,Балашиха,ТРК,Игры,PS3,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
1,7,3,28,1,30,offline,Балашиха,ТРК,Игры PC,Стандартные издания,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
2,3,3,30,2,40,offline,Балашиха,ТРК,Кино,DVD,...,0.000000,5.0,4.0,0.0,10.000000,12.355556,0.000000,16.0,12.0,0.0
3,4,3,30,2,40,offline,Балашиха,ТРК,Кино,DVD,...,12.355556,2.0,5.0,4.0,3.823529,10.000000,12.355556,7.5,16.0,12.0
4,5,3,30,1,40,offline,Балашиха,ТРК,Кино,DVD,...,10.000000,2.0,2.0,5.0,2.500000,3.823529,10.000000,4.5,7.5,16.0